body {
    background-color: burlywood;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
h1 {
    background: burlywood;
    border: 15px double antiquewhite;
    border-radius: 10px;
    color: brown;
    text-align: center;
    font-size: 40px;
    max-width: 1000px;
    padding: 5px;
}
h2{
    color:brown;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}
h3 {
    color:brown;
    text-align: left;
    font-size: larger;
}
img {
    border: 10PX double antiquewhite;
    border-radius: 70%;
}
div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box {
    border: 15px double antiquewhite;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}